form{
    border: solid 3px rgba(153, 199, 135, 0.582);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: rgba(211, 211, 211, 0.61);
    margin: auto;
}

.input{
    margin: 20px 50px 10px 50px;
    padding: 8px;
    border: 0;
    border-radius: 4px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16pt;

}

.checkbox{
    margin-right: 15px;
}

.label_box{
    margin: 10px auto 10px auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 16pt;
    color: rgb(54, 54, 54);
}

.btn{
    margin: 10px auto 10px auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 18pt;
    border: 0;
    border-radius: 4px;
    padding: 4px 15px 4px 15px;
}
.btn:hover{
    background-color: gray;
}