body{
    margin: 0;
}

main{
    display: flex;
    overflow: auto;
    flex-direction: column;
    min-width: 99vw;
    min-height: 110vh; 

    margin: 0;
    background-color: rgba(46, 153, 185, 0.4);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-blend-mode: multiply;
    background-image: url("../image/background.jpg");
}
li{
    margin: 20px;
}
section{
    width: 50%;
    margin: auto;
}

.row{
    background-color: rgba(240, 255, 255, 0.845);
    padding: 10px;
    border-radius: 5px;
}
.head{
    background-color:rgba(133, 162, 162, 0.845);
    color: rgb(13, 20, 10);
    padding: 10px;
    border-radius: 5px;
}
.text {
    font-family: 'PT Sans', sans-serif; 
    font-size: 19pt;
    color: rgb(29, 26, 26);
    text-align: left;
}


.h2{
    /* padding-left: 50px; */
    font-size: 26pt;
    /* text-align: center; */
}

.p{
    font-size: 15pt;
    text-align: justify;
}


.block{
    margin: auto 25px 3% 25px;
    display: flex;
    flex-direction: row;
    
}
.list_image{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
}
.image{
    width: 350px;
    height: 400px;
    margin: auto;
    border-radius: 7px;
    box-shadow:  60px -16px 4px rgba(0, 128, 128, 0.479);
    transition: box-shadow 250ms, width 250ms, height 250ms;

}
.image:hover{
    width: 350px;
    height: 400px;
    margin: auto;
    border-radius: 7px;
    box-shadow:  60px -16px 10px rgba(255, 166, 0, 0.479);
}
table {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 13pt;
    color: black;
    margin: 50px auto;
    
}

.list{
    width: 200px;
    height: 250px;
    margin: 10px 10px;
    box-shadow:  none;
}
.list:hover{
    width: 225px;
    height: 275px;
    margin: 10px 10px;
    border-radius: 7px;
    box-shadow:  10px -16px 10px rgba(255, 166, 0, 0.479);
}


.ins{
    margin: 15px;
}

.aboutUs{
    background-color: rgba(240, 255, 255, 0.845);
    border-radius: 5px;
    border-color: azure;
    border-width: 1px;
    border-style: solid;
    width: 35%;
    padding: 5px 15px 15px 15px;
    margin: 50px auto;

    
}
.mission{
    background-color: rgba(240, 255, 255, 0.845);
    border-radius: 5px;
    border-color: azure;
    border-width: 1px;
    border-style: solid;
    width: 35%;
    margin: 50px auto;

    padding: 5px 15px 15px 15px;
    
}
.blockWithImg{
    display: flex;
    flex-direction: row;

}
.imageCat{
    margin: auto 150px auto auto;
    width: 350px;
    height: 400px;
}
.imageDostav{
    margin: auto 150px auto auto;
    width: 450px;
    height: 400px;
}
.btn{
    margin: 10px auto 10px auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 18pt;
    border: 0;
    border-radius: 4px;
    padding: 4px 15px 4px 15px;
}
.btn:hover{
    background-color: gray;
}