body{
    margin: 0;
}




main{
    overflow: auto;
    min-width: 99vw;
    min-height: 110vh;  
    margin: 0;
    background-color: rgba(21, 135, 170, 0.2);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-blend-mode: multiply;
    background-image: url("../image/background_main.jpg");
}

.row{
    background-color: rgba(0, 0, 0, 0.301);
    padding: 10px;
    border-radius: 5px;
}
.head{
    background-color:rgba(165, 164, 164, 0.5);
    color: rgb(71, 129, 16);
    padding: 10px;
    border-radius: 5px;
}
.cat{
    /* float: right;
    margin: 125px 50px 0 0; */
    position: absolute;
    top: 220px;
    right: 30px;
}
table {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 13pt;
    color: white;
    margin: 300px auto 0 auto;
    
}